<!doctype html>
<html ng-app="quiz" >
<head>
    <meta charset="utf-8">
    <title>Quiz Engine BD</title>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/jquery-2.2.min.js"></script> -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- <script type="text/javascript" src="js/angular-1.5.3.min.js"></script> -->
    <script src="js/app.js"></script>
</head>
<body>
<div  ng-app="mcqApp" ng-controller="QuizController">
<ul class="example-animate-container">
    <ul class="unstyled">
        <li ng-repeat="question in questions">
            <strong class="question">{{ question.questionText }}</strong>
            <ul class="unstyled" id="quest_{{$parent.$index}}">
        <li ng-repeat="answer in question.answers">
            <label class="isCorrect_{{answer.selected}}" for="quest_{{$parent.$index}}_answer_{{$index}}">
                <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}"
                       ng-model="answers[$parent.$index]" value="{{ answer.answerText }}"  name="quest_{{$parent.$index}}_answers" />{{ answer.answerText }}</label>
        </li>
    </ul>
    </li>
    </ul>
    <button class="btn" type="submit" ng-click="showResult()">Submit</button>
    <div class="well">
        <p>you got {{ correctCount }} out of {{questions.length}} right</p>

    </div>

</div>

</body>
</html>